@keyframes t-logo-play {
  from { background-position: 0% 0%; }
  to   { background-position: 100% 0%; }
}

.header {
  flex: 0 0 auto;
  .menu {
    position: relative;
    background-color: #179cde;
    padding: 5px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 1;
    h1 {
      margin: 0;
      color: #fff;
      font-size: 18px;
    }

    .logo {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      text-decoration: none;
      .icon {
        display: block;
        width: 40px;
        height: 40px;
        animation: 500ms steps(30) both;
        background-image: url(@img/t_logo_sprite.svg);
        animation-name: t-logo-play;
        background-repeat: no-repeat;
        background-size: cover;
      }
      h1 {
        margin-left: 5px;
        font-size: 14px;
        font-weight: 700;
      }
    }

    &_list {
      display: flex;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: 0;
      @media (min-width: 768px) {
        margin-right: 10px;
      }
      button {
        display: block;
        position: relative;
        height: 34px;
        padding: 0;
        margin-right: 5px;
        background: #fff;
        text-align: center;
        border: 0;
        padding: 0 35px 0 15px;
        font-size: 14px;
        line-height: 1;
        border-radius: 20px;
        color: #179cde;
        @media (min-width: 768px) {
          display: none;
        }
        svg {
          display: block;
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translate(0, -50%);
          width: 20px;
          height: 20px;
        }
      }
      .user_menu {
        position: absolute;
        top: 160px;
        right: 0;
        width: 150px;
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        transition: all .25s;
        &.open{
          top: 60px;
          opacity: 1;
          pointer-events: auto;
        }
        @media (min-width: 768px) {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          position: relative;
          top: initial;
          right: initial;
          width: auto;
          background: initial;
          opacity: 1;
          pointer-events: initial;
          &.open {
            top: initial;
          }
        }
      }
      a {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        color: #179cde;
        border-radius: 0;
        font-size: 14px;
        text-align: left;
        padding: 10px;
        text-decoration: none;
        line-height: 1;
        @media (min-width: 768px) {
          color: #fff;
        }
        svg {
          width: 18px;
          height: 18px;
          margin-right: 10px;
        }
        &.exit {
          color: #de1717;
          // font-weight: 700;
        }
        & + * {
          border-top: 1px solid rgba(0, 0, 0, 0.05);
        }
        @media (min-width: 768px) {
          & + * {
            border-top: 0;
          }
        }
      }
    }
  }

  .profile_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 5px;
    margin: 0 20px;
    background: #fff;
    border-radius: 0 0 10px 10px;
    @media (min-width: 768px) {
      margin: 0 30px;
      padding-left: 15px;
      padding-right: 15px;
      justify-content: unset;
    }
    .user_name {
      display: none;
      @media (min-width: 768px) {
        display: block;
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
      }
    }

    .pay_menu {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-left: auto;
      .balance {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-right: 10px;
        @media (min-width: 768px) {
          margin-right: 15px;
        }
        span {
          line-height: 1.2;
          opacity: 0.5;
          font-size: 10px;
          font-weight: 700;
          & + span {
            opacity: 1;
            font-size: 14px;
            color: #179cde;
          }
        }
      }
      .pay {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-decoration: none;
        background-color: #4caf50;
        color: #fff;
        height: 34px;
        text-align: center;
        border: 0;
        padding: 0 15px;
        font-size: 14px;
        line-height: 1;
        border-radius: 20px;
        svg {
          width: 18px;
          height: 18px;
          margin-right: 10px;
        }
      }
    }

    a.exit {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: #de1717;
      border-radius: 0;
      font-size: 14px;
      text-align: left;
      padding: 10px;
      text-decoration: none;
      line-height: 1;
      svg {
        width: 18px;
        height: 18px;
        margin-right: 10px;
      }
    }
  }
  
  &.index_header {
    .logo {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      .icon {
        display: block;
        width: 80px;
        height: 80px;
        animation: 1000ms steps(30) both;
        background-image: url(@img/t_logo_sprite.svg);
        animation-name: t-logo-play;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 5px;
      }
      svg {
        display: block;
        width: 144px;
        height: 35px;
        margin: 3px auto 5px;
      }
      h1 {
        display: block;
        margin: 0;
        font-size: 20px;
        font-weight: 400;
        color: #8c8c8c;
        text-align: center;
      }
    }
  }
}