.text_block {
  text-align: center;
  position: relative;

  padding: 15px 0;
  @media (min-width: 768px) { 
    padding: 25px 0;
  }

  .sticker {
    display: block;
    max-width: 100px;
    margin: 0 auto;
    @media (min-width: 768px) {
      max-width: 160px;
    }
  }
  p {
    margin: 0;
    & + p {
      margin-top: 5px;
    }
  }

  // &::after {
  //   content: '';
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   width: 5px;
  //   background: #179cde;
  //   border-radius: 5px;
  // }
}