// Normalize.css
@import "../../node_modules/normalize.css/normalize";
// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Шрифты
// Удалить файл fonts.scss, если произошли какие-то изменения со шрифтами
@import "fonts";

// Переменны (цвета, скорость transition и пр)
@import "_variables";

@import "_header";
@import "_hello";
@import "_footer";

*{
  outline: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body{
  margin: 0;
  padding: 15px 0 0 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 360px;
  overflow-x: hidden;
  font-family: $main_font;
  background-color: #efeef4;
  color: #333;
  font-size: 15px;
  line-height: 158%;
  main {
    flex: 1 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    h1, h2, h3, h4, h5, h6 {
      color: #0088cc;
      font-weight: 400;
    }
    h3 {
      margin: 15px 0;
      font-size: 24px;
    }

    code {
      background: rgba(23, 156, 222, 0.1);
      padding: 2px 5px;
      border-radius: 5px;
      color: #0088cc;
    }

    .action_button {
      display: flex;
      font-weight: wrap;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #179cde;
      width: 40px;
      height: 40px;
      padding: 0;
      background: #fff;
      border-radius: 10px;
      margin: 0 auto;
      &.green {
        color: #4caf50;
      }
      &.red {
        color: #de1717;
      }
      svg {
        display: block;
        width: 18px;
        height: 18px;
        margin: 0 auto;
      }
    }

    .form h3 {
      margin-top: 0;
      margin-bottom: 20px;
      text-align: center;
    }

    .form {
      padding-top: 15px;
      padding-bottom: 15px;
      @media (min-width: 768px) { 
        padding-top: 25px;
        padding-bottom: 25px;
      }
      p {
        margin-top: -10px;
        text-align: center;
      }
    }

    .user_form__message {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 10px;
      border-radius: 10px;
      background: rgba(51, 51, 51, .05);
      margin-bottom: 15px;
      svg {
        display: block;
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
      p {
        display: block;
        width: calc(100% - 55px);
        margin: 0;
        font-size: 14px;
        line-height: 1.5;
        text-align: left;
      }

      a {
        text-decoration: none;
        color: #179cde;
      }

      &.success {
        color: #4caf50;
      }
      &.warning {
        color: #de1717;
      }
    }

    form {
      .input {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background: #fff;
        border: 0;
        border-radius: 10px;
        overflow: hidden;
        span.label {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          left: 0;
          bottom: 0;
          font-size: 14px;
          pointer-events: none;
          letter-spacing: 0;
          transition: all .2s;
          font-weight: 700;
          padding-left: 15px;
          width: 50%;
        }
        input {
          width: 100%;
          height: 100%;
          min-height: 40px;
          border: 0;
          padding: 10px 15px;
          margin: 0;
          font-size: 14px;
          line-height: 1;
          text-align: right;
          color: #7f7f7f;
        }

        & + .input {
          margin-top: 15px;
        }

        &.input_button {
          & * {
            width: 100%;
            margin: 0;
            text-align: center;
            background: #fff;
            font-size: 14px;
            padding: 10px 15px;
            color: #179cde;
            cursor: pointer;
            font-weight: 400;
            transition: all .2s;
            &:hover {
              background: #fcfcfc;
            }
          }
          
          a {
            display: block;
            color: #de1717;
            text-decoration: none;
            line-height: 1;
            padding: 13px 15px;
          }
        }
      }

      .input_group {
        background: #fff;
        border: 0;
        border-radius: 10px;
        overflow: hidden;
        .input {
          border-radius: 0;
          & + .input {
            margin-top: 0;
            &::before {
              content: '';
              display: block;
              position: absolute;
              left: 15px;
              right: 0;
              top: 0;
              height: 1px;
              background: #000;
              opacity: .2;
              transform: translate(0, -50%);
            }
          }
        }
      }

      .desc {
        display: block;
        padding: 0 15px;
        font-size: 12px;
        line-height: 1.2;
        font-weight: 400;
        margin-top: 5px;
      }

      .input_group,
      .input,
      .desc {
        & + .input_group,
        & + .input {
          margin-top: 15px;
        }
      }
    }

    .table_wrapper {
      border-radius: 10px;
      border: 3px solid #179cde;
      overflow: hidden;
      .table {
        margin-bottom: 0;
        th {
          white-space: nowrap;
        }
        .button_col {
          width: 56px;
        }
        td {
          .table_item {
            height: 40px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
          }
        }
      }
    }
  }
}
